.DS_Store
*/.DS_Store

# Hugo output and lock files
public
resources/_gen
.hugo_build.lock

# NPM dependencies
node_modules
package-lock.json
!go-change-lab/package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
.obsidian/
.obsidian/workspace.json

# Misc
assets/js/dist
assets/.DS_Store
.wrangler/

.agents/
skills-lock.json
