---
layout: page
title: Clippings
space: clippings
permalink: /clippings/
---

{% assign clippings = site.pages | where_exp: "item", "item.path contains 'Clippings/'" | sort: "created" | reverse %}

<p class="clippings-intro">~/Clippings $ ls -t</p>

<ol class="clippings-list" id="collection-list">
  {% for clipping in clippings %}
  <li class="collection-page-item">
    <time datetime="{{ clipping.created | date_to_xmlschema }}">{{ clipping.created | date: "%Y-%m-%d" }}</time>
    <a href="{{ clipping.url | relative_url | escape }}">{{ clipping.title | escape }}</a>
    {% if clipping.description %}
    <span>{{ clipping.description | escape }}</span>
    {% endif %}
  </li>
  {% else %}
  <li>No clippings yet.</li>
  {% endfor %}
</ol>

{% include collection-pagination.html storage_key="clippings-page-size" label="Clippings 分页" %}
