{{ define "main" }}
<main>
  <h1 class="page-title">{{ .Title }}</h1>
  {{ with .Content }}<div class="body">{{ . }}</div>{{ end }}
  {{ $pages := where site.RegularPages "Section" "posts" }}
  {{ range $pages.ByDate.Reverse.GroupByDate "2006" }}
  <h2>{{ .Key }}</h2>
  <ul class="posts">
    {{ range .Pages }}
    <li class="post">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      <span class="meta">{{ .Date.Format "Jan 2, 2006" }}{{ if .Draft }} <span class="draft-label">DRAFT</span>{{ end }}</span>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</main>
{{ end }}
