<!doctype html>
<html>
  {{ partial "header.html" . }}
  <body>
    <div class="content">
      {{ partial "head.html" . }}
      <div></div>

      <main class="list">
        <div class="site-description">
          {{- if isset .Site.Params "subtitle" -}}
          <p>{{ .Site.Params.Subtitle | .Page.RenderString }}</p>
          {{- end -}}
        </div>
        <center>
          <span class="ann ann-nw ann-green" data-note="I Want">自由</span>
          <span class="ann ann-se ann-amber" data-note="I Hope">和谐</span>
          <div>
            <span>
              <h3>很惭愧，就做了一点微小的工作。</h3>
            </span>
            <br>
            <span>Contributed to some open source projects, including:</span>
            <br>
            <span class="ann ann-n ann-blue" data-note="Go database driver">go-mysql-driver/mysql</span>
            <span class="ann ann-n ann-red" data-note="Go web framework">gogf/gf</span>
            <span class="ann ann-n ann-green" style="--ann-label-max-width:var(--ann-label-max-width);--ann-text-y:20px"
              data-note="WeChat ClawBot connector">fastclaw-ai/weclaw</span>
            <span class="ann ann-n ann-black" data-note="A Terminal">tw93/Kaku</span>
            <br>
            <br>
            Worked on some company projects, including:
            <br>
            <span class="ann ann-ne ann-red" data-note="incident on-call platform">incident.woa.com</span>
            <span class="ann ann-n ann-blue" data-note="RDBMS platform">mdb.woa.com</span>
            <span class="ann ann-n ann-gray" data-note="database operation api">dbmanager.woa.com/api</span>
            <span class="ann ann-nw ann-red" style="--ann-label-max-width:var(--ann-label-max-width)"
              data-note="All database platform for DBA">dba.baidu.com/mis</span>

          </div>
        </center>

        <hr />
        <br />
        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }} {{ $paginator := .Paginate (where
        $pages "Params.hidden" "ne" true) }} {{ range $paginator.Pages }}
        <section class="list-item">
          <h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
          <time>{{ .Date.Format "Jan 2, 2006" }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
          <br />{{ template "partials/pagedescription.html" . }}
          <a class="readmore" href="{{ .RelPermalink }}">Read more ⟶</a>
        </section>
        {{ end }} {{ template "partials/paginator.html" . }}
      </main>
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
